html {
    color:white;
    background-color: black;
    font-family: 'Verdana', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

a {
    font-size: 16px;
    flex: auto;
    justify-content: center;
    color: aquamarine;
}

p {
    font-size: 21px;
    color: gray;
}

#content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#phone-icon {
    margin-top: 20px;
}

#copyright {
    text-align: right;
}